<ActionBar title="RadListView Detail"></ActionBar>

<GridLayout height="100%">

            <RadListView #radListViewComponent [autoReuseViews]="true" [items]="dataItems">
                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout>
                        <Label textAlignment="left" #label1 class="nameLabel" [text]="item.name"></Label>
                        <Label textAlignment="right" #label2 class="descriptionLabel" [text]="item.description"></Label>
                    </GridLayout>
                </ng-template>
            </RadListView>
</GridLayout>
